html,body {
    margin: 0;
    padding: 0;
    height: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.loading .animation {
    display: flex;
    align-items: center;
  }
.loading .loading-text {
    color: brown;
    font-size: 32px;
    font-weight: bold;
  }
.loading .dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: brown;
    display: inline-block;
    margin-left: 10px;
  }
.progress {
    text-align: center;
    color: brown;
    font-size: 32px;
    font-weight: bold;
   }
.hide {
    visibility: hidden;
   }
body{
	background-image: url(../img/loading2.png);
	width: 100%;
	background-size: 100% 100%;
}